html {
  background-color: #6C4A4A;
  background-image: -webkit-linear-gradient(65deg, #6C4A4A 50%, #EDEDED 50%);
  min-height: 1000px;
  font-family: 'Raleway', sans-serif;;
}

h1 {
  color: #EDEDED;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #DDBEBE;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #C89595;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6C4A4A;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #6C4A4A;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 21px;
  font-weight: 200;
  color: #6C4A4A;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #C89595;
  color: #EDEDED;
  font-size: 35px;
  border-width: 0;
}
.clear {
  min-height: 50px;
  font-size: 35px;
  color: #EDEDED;
  background-color: transparent;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #C89595;
}

::placeholder {
  color: rgba(54, 52, 52, 0.7);
  opacity: .7;
}

footer {
  color: #EDEDED;
  /* color: rgba(0, 0, 0, 0.5); */
  text-align: center;

}